<div class="carousel" [style.transform]="'translateX(' + currentSlide * -100 + '%)'">
    <!-- @for (item of items; track item) { -->
    <div class="carousel-item">
        <div class="carousel-1">
            <div class=""
                style="height: 50px; width: 150px; background-color: rgb(255, 196, 0); position: relative; bottom: 100px; left: 100px; z-index: 2;">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="carousel-2">
            <div class=""
                style="height: 50px; width: 150px; background-color: rgb(255, 0, 0); position: relative; bottom: 100px; left: 100px; z-index: 2;">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="carousel-3">
            <div class=""
                style="height: 50px; width: 150px; background-color: rgb(53, 151, 33); position: relative; bottom: 100px; left: 100px; z-index: 2;">
            </div>
        </div>
    </div>
    <!-- } -->
</div>